# ==========================================
# ☕ JAVA (Request Kakak Praktikum & Standar)
# ==========================================
*.class
bin/
target/

# ==========================================
# ⚙️ C / C++ (Buat Nugas CS50)
# ==========================================
*.exe
*.out

# ==========================================
# 🐍 PYTHON (Buat Scripting / Data)
# ==========================================
__pycache__/
*.pyc

# ==========================================
# 🛠️ EDITOR & SISTEM (Request Kakak Praktikum)
# ==========================================
.vscode/
.vscode

# ==========================================
# 🔒 KEAMANAN (Wajib Ada)
# ==========================================
.env